<h1 id="-">Τίτλος: Πρόγραμμα σύγκρισης ταχύτητας γλώσσας προγραμματισμού</h1>
<h2 id="1-">1. ΤΙΤΛΟΣ ΕΡΕΥΝΑΣ</h2>
<p>Σύγκριση ταχύτητας εκτέλεσης των γλωσσών προγραμματισμού: Python, Java, C#, C και C++. Ο στόχος είναι να προσδιοριστεί ποια γλώσσα αποδίδει πιο γρήγορα κάτω από παρόμοιες συνθήκες εκτέλεσης.</p>
<h2 id="2-">2. ΠΕΡΙΓΡΑΦΗ ΕΡΕΥΝΑΣ</h2>
<p>Σε αυτό το έργο, δοκίμασα το χρόνο εκτέλεσης μιας κοινής διεργασίας γραμμένης σε διάφορες γλώσσες προγραμματισμού. Το τεστ εκτελέστηκε πολλές φορές για κάθε γλώσσα για να διασφαλιστεί η ακριβής μέτρηση. Οι δοκιμές εκτελέστηκαν σε λειτουργικό Ubuntu Server και το σύστημα προγραμματίστηκε να υπολογίζει τον χρόνο εκτέλεσης με ακρίβεια.</p>
<h2 id="3-">3. ΣΚΟΠΟΣ ΕΡΕΥΝΑΣ</h2>
<p>Ο σκοπός της έρευνας ήταν να κατανοήσουμε πώς συγκρίνονται οι διάφορες γλώσσες προγραμματισμού σε απόδοση. Διερευνά πώς η ταχύτητα εκτέλεσης ποικίλλει μεταξύ ερμηνευμένων γλωσσών όπως η Python και μεταγλωττισμένων γλωσσών όπως η C/C++. Το έργο διδάσκει επίσης πώς να αυτοματοποιούνται οι δοκιμές και να αναλύονται δεδομένα απόδοσης.</p>
<h2 id="4-">4. ΚΟΙΝΩΝΙΚΕΣ ΑΝΑΓΚΕΣ ΠΟΥ ΠΡΟΣΦΕΡΕΙ Η ΕΡΕΥΝΑ</h2>
<ul>
<li>Την εύκολη επιλογή της κατάλληλης γλώσσας προγραμματισμού για την υλοποίηση μιας εφαρμογής</li>
<li>Πρόσβαση στα δεδομένα ταχύτητας εκτέλεσης των τέστ για περετέρω ανάλυση </li>
</ul>
<h2 id="5-">5. ΥΠΟΘΕΣΗ</h2>
<p>Πιστεύω πώς η πιό αργή γλώσσα προγραμματισμού είναι η Python, καθώς είναι <em>ερμηνευόμενη γλώσσα προγραμματισμού</em>.</p>
<p>Αντίθετα, η C και η C++ πιστεύω θα είναι οι γρηγορότερες, καθώς είναι <em>μεταγλωτιζόμενες γλώσσες προγραμματισμού</em>.</p>
<h2 id="6-">6. ΠΑΡΑΜΕΤΡΟΙ ΠΟΥ ΔΕΝ ΕΠΗΡΕΑΖΟΥΝ ΤΗΝ ΕΡΕΥΝΑ</h2>
<ul>
<li>Η ενεργή ιστοσελίδα.</li>
<li>Επαναλήψεις των τέστ.</li>
<li>Μεταβολές στην θερμοκρασία.</li>
</ul>
<h2 id="7-">7. ΟΡΙΑ - ΠΕΡΙΟΡΙΣΜΟΙ ΕΡΕΥΝΑΣ</h2>
<ul>
<li>Λειτουργικό σύστημα: τα τέστ έτραξαν μόνο σε Linux.</li>
<li>Τα τέστ: γράφτηκε ένα σε κάθε γλώσσα.</li>
<li>Πέντε γλώσσες προγραμματισμού δοκιμάστηκαν.</li>
</ul>
<h2 id="8-">8. ΔΙΑΔΙΚΑΣΙΑ ΠΑΡΑΓΩΓΗΣ ΔΕΔΟΜΕΝΩΝ</h2>
<ul>
<li>Πηγαίνετε στην ιστοσελίδα μου (<a href="https://dra-server.mywire.org:5000">https://dra-server.mywire.org:5000</a>)</li>
<li>Πειραματιστείτε με τις λειτουργίες που διαθέτω στην ιστοσελίδα </li>
</ul>
<h2 id="9-">9. ΟΡΙΣΜΟΙ</h2>
<ul>
<li><p>Μια <em>ερμηνευόμενη γλώσσα προγραμματισμού</em> είναι μια γλώσσα όπου ο κώδικας εκτελείται απευθείας από έναν ερμηνευτή, αντί να μεταφερθεί σε μηχανικό κώδικα και να εκτελεστεί από την CPU.</p>
</li>
<li><p>Μεταγλωτιζόμενη γλώσσα προγραμματισμού ονομάζεται η γλώσσα προγραμματισμού η οποία μεταφράζει το πρόγραμμα που τρέχει σε ισοδύναμο κώδικα σε Γλώσσα Μηχανής, η οποία τρέχει κατευθείαν στον επεξεργαστή.</p>
</li>
</ul>
<h2 id="10-">10. ΣΥΜΠΕΡΑΣΜΑ</h2>
<p>Συμπέρασμα: Η ταχύτητα με την οποία μια γλώσσα προγραμματισμού εκτελεί κώδικα εξαρτάται από την εσωτερική της αρχιτεκτονική και το σύστημα χρόνου εκτέλεσης. Οι ερμηνευμένες γλώσσες όπως η Python τείνουν να είναι πιο αργές, ενώ οι μεταγλωττισμένες γλώσσες όπως η C και η C++ έχουν γενικά καλύτερη απόδοση.</p>
<h2 id="11-">11. ΠΗΓΕΣ</h2>
<ul>
<li>Το documentation για κάθε γλώσσα προγραμματισμού</li>
<li>Stack Overflow και άλλα τεχνικά φόρουμ</li>
<li>Προσωπικοί πειραματισμοί και εργαλεία ανοιχτού κώδικα</li>
</ul>
<p>nohup python3 flask_server.py &gt; server.log 2&gt;&amp;1 &amp;
pkill -f flask_server.py</p>
